body{
    background-color: rgb(245, 176, 97);
    height:auto
}
#wrapper{
  background-color: rgb(245, 176, 97);
  width:100%;
}
.whiteFont{
  color:white;
  font-family: Zfont;
  font-size:larger;
}
#root{
  width:100%;
  height:100%;
}
@font-face {
  font-family: Zfont;
  src: url(./assets/ZCOOL_KuaiLe/ZCOOL.ttf);
}

.container{
        padding-top: 20%;
}
img{
  width: 100%;
}
#qrcode{
    padding-left: 20%;
    padding-right: 20%;
}